*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    margin-inline: auto;
}

.container {
    background-color: #fff;
    margin: 1px 2px;
    padding: 5px;

}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    height: 75%;
    padding: 10px;
    background-color: black;
    color: white;
}

.brand {
    /* margin-bottom: 2%; */
}

.activity {
    font-size: .75rem;
    font-style: italic;
    margin-left: 10px;
}

main {
    height: 80vh;
}

footer {
    height: 10vh;
}